
server:
  port: 8087
spring:
  application:
    name: teacher
  datasource:
    url: 'jdbc:h2:mem:etudiantdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: '*' 