server:
  port: 8087
spring:
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}
 # rabbitmq:
  #  host: "localhost"
   # port: 5672
   # username: "guest"
   # password: "guest"
  application:
    name: etudiant
  datasource:
    url: 'jdbc:h2:mem:etudiantdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    openfeign:
      circuitbreaker:
          enabled: true
    config:
      enabled: true
    discovery:
      enabled: true
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: '*'


#resilience4j.circuitbreaker:
#  configs:
#    default:
#      slidingWindowSize: 10
#      permittedNumberOfCallsInHalfOpenState: 2
#      failureRateThreshold: 50
#      waitDurationInOpenState: 10000